<%- include('../layouts/main.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
   <%- include('../layouts/header.ejs') %>
    <main class="main-content">
      <div class="product-list-wrapper">
        <% if(products.length === 0) { %>
          <div>No Products Found</div>
        <% } else { %> <% for(let product of products) { %>
          <div class="product-card">
            <h3 class="product-name"><%= product.title %></h3>
            <img class="product-image" src="<%= product.imageUrl%>" alt="<%= product.name %>" >
            <h3 class="product-price">$ <%= product.price%></h3>
            <div class="product-desc"><%= product.description%></div>
            <div class="card-footer display-flex">
              <button class="action-btn margin-8"><a href="/admin/edit-product/<%= product.id %>?edit=true" class="achor-btn ">Edit</a></button>
              <form action="/admin/delete-product" method="POST">
                <button type="submit" class="action-btn margin-8"> Delete </button>
                <input type="hidden" name="productId" value="<%= product.id %>"/>
              </form>
            </div>
          </div>
        <% } %> <% } %>
      </div>
    </main>
  </body>
</html>
