<%- include('../layouts/main.ejs') %>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
   <%- include('../layouts/header.ejs') %>
    <main class="main-content background-light">
      <% if(cart.products.length >0) { %>
        <div class="cart-container">
          <div class="card-section">
            <h2 class="section-header">Shopping Cart</h2>
            <hr class="hr-line">
            <div class="full-width">
              <% for(product of cart.products){ %>
                <div class="cart-item-row">
                    <div><%= product.details.title %></div>
                    <div>
                      <div class="display-inline-flex">
                        <img src="<%= product.details.imageUrl %>" alt="<%=product.details.description %>" class="image"/>
                        <div class="p-t-8">
                          <%= product.details.description %>
                        </div> 
                      </div>
                      <div class="display-flex m-t-12">
                        <div class="cart-action-button-wrapper">
                          <form method="POST" action="/delete-item-from-cart?qty=1">
                            <input type="hidden" name="productId" value="<%=product.details.id%>"/>
                            <button type="submit" class="cart-qty-action-button">-</button>
                          </form>
                          <div class="cart-qty"> <%= product.qty %> </div>
                          <form method="POST" action="/add-to-cart?redirectTo=cart">
                            <input type="hidden" name="productId" value="<%=product.details.id%>"/>
                            <button type="submit" class="cart-qty-action-button">+</button>
                          </form>
                        </div>
                        <div class="p-l-8">
                          <form method="POST" action="/delete-item-from-cart">
                            <input type="hidden" name="productId" value="<%=product.details.id%>"/>
                            <button type="submit" class="action-btn display-center">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="price-column">$ <%= product.details.price %></div>
                </div>
                <hr class="hr-line"/>
              <% } %>
            </div>
            <div class="cart-summary">
              <h4>Subtotal (<%= cart.totalQty %> items): </h4>
              <h3 class="p-l-8"> $ <%= cart.totalPrice %></h3>
            </div>
            </div>
          <div class="card-section">
            <h2 class="section-header">Checkout</h2>
            <hr class="hr-line"/>
            <div class="cart-summary checkout-summary">
              <h4>Subtotal (<%= cart.totalQty %> items): </h4>
              <h3 class="p-l-8"> $ <%= cart.totalPrice %></h3>
            </div>
            <div class="display-center">
              <button class="action-btn">Proceed to Buy</button>
            </div>
          </div>
        </div>
      <% }else { %>
        <h4>No Products added to Cart</h4>
      <% } %>
    </main>
  </body>